@font-face {
  font-family: 'Futura book';
  src: url("../fonts/futura/futura-book.woff2") format("woff2"), url("../fonts/futura/futura-book.eot?#iefix") format("embedded-opentype"), url("../fonts/futura/futura-book.woff") format("woff"), url("../fonts/futura/futura-book.ttf") format("truetype"), url("../fonts/futura/futura-book.svg#FuturaBT-Book") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Futura black';
  src: url("../fonts/futura/Futura Extra Black font.woff2") format("woff2"), url("../fonts/futura/Futura Extra Black font.eot?#iefix") format("embedded-opentype"), url("../fonts/futura/Futura Extra Black font.woff") format("woff"), url("../fonts/futura/Futura Extra Black font.ttf") format("truetype"), url("../fonts/futura/Futura Extra Black font.svg#FuturaBT-Book") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Futura light';
  src: url("../fonts/futura/futura light bt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
html, body {
  font-size: 16px; }

html, body {
  height: 100%; }

body {
  font-family: 'Futura light' !important;
  margin: 0;
  background: #eeeeee;
  background: -moz-linear-gradient(left, #555 0%, #222 50%, #555 100%);
  background: -webkit-linear-gradient(left, #555 0%, #222 50%, #555 100%);
  background: linear-gradient(to right, #555 0%, #222 50%, #555 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=1 ); }
  body b {
    font-family: "Futura black", sans-serif; }
  body #wrapper {
    position: relative;
    max-width: 80vh;
    height: 100%;
    margin: 0 auto;
    background-color: black; }
    body #wrapper #menu {
      display: none;
      position: absolute;
      z-index: 999;
      width: 100%;
      height: 100%;
      background-color: black;
      color: white; }
      body #wrapper #menu header nav {
        width: 10%;
        float: right;
        text-align: right; }
        body #wrapper #menu header nav a {
          display: block; }
          body #wrapper #menu header nav a img {
            width: 24px;
            height: 24px;
            padding: 10px 5px 0 0; }
      body #wrapper #menu main {
        padding: 0 5px; }
    body #wrapper header {
      min-height: 44px;
      background-color: black; }
      body #wrapper header h1 {
        width: 80%;
        float: left;
        text-align: center;
        font-weight: normal;
        font-size: 1rem;
        color: white;
        margin: 0;
        padding-top: 15px; }
      body #wrapper header nav {
        width: 10%; }
        body #wrapper header nav a {
          display: block; }
          body #wrapper header nav a img {
            width: 24px;
            height: 24px; }
      body #wrapper header nav:nth-child(1) {
        float: left; }
        body #wrapper header nav:nth-child(1) a img {
          padding: 10px 0 0 5px; }
      body #wrapper header nav:nth-child(3) {
        float: right;
        text-align: right; }
        body #wrapper header nav:nth-child(3) a img {
          padding: 10px 5px 0 0; }
    body #wrapper #twirl {
      background-image: url("../images/whirl_tall_bright.gif");
      background-size: cover;
      /*background-color: #ccc;*/
      /*****************************************************************************************************/
      /*****************************************************************************************************/
      /*****************************************************************************************************/
      /*****************************************************************************************************/
      /*****************************************************************************************************/
      /*****************************************************************************************************/ }
      body #wrapper #twirl main {
        /*& is main*/ }
        body #wrapper #twirl main .grid {
          height: 100%;
          clear: both;
          overflow: hidden;
          position: relative;
          display: flex;
          display: -webkit-flex;
          flex-flow: row wrap;
          align-content: stretch;
          /*justify-content: center;*/
          /*****************************************************************************************************/ }
          body #wrapper #twirl main .grid > div {
            /*float: left;*/
            position: relative; }
            body #wrapper #twirl main .grid > div > * {
              position: absolute; }
            body #wrapper #twirl main .grid > div .pyramid {
              /*display: none;*/
              width: 100%;
              height: 100%;
              z-index: 999; }
            body #wrapper #twirl main .grid > div .picture {
              /*display: none;*/
              width: 100%;
              height: 100%;
              background-position: center center;
              background-size: cover;
              z-index: 888; }
            body #wrapper #twirl main .grid > div label {
              /*border: 1px solid orange;*/
              display: block;
              /*display: none;*/
              height: 100%;
              font-size: 3.4rem;
              text-align: center;
              /*padding: 38% 0;*/
              width: 100%;
              z-index: 777; }
              body #wrapper #twirl main .grid > div label:before {
                content: "";
                display: block;
                height: 10%; }
          body #wrapper #twirl main .grid > div:nth-child(1) .pyramid {
            opacity: 1; }
          body #wrapper #twirl main .grid > div:nth-child(1) .picture {
            opacity: 0; }
          body #wrapper #twirl main .grid > div:nth-child(1) label {
            opacity: 0; }
          body #wrapper #twirl main .grid > div:nth-child(2) .pyramid {
            opacity: 0; }
          body #wrapper #twirl main .grid > div:nth-child(2) .picture {
            opacity: 0; }
          body #wrapper #twirl main .grid > div:nth-child(2) label {
            opacity: 1; }
          body #wrapper #twirl main .grid > div:nth-child(3) .pyramid {
            opacity: 0; }
          body #wrapper #twirl main .grid > div:nth-child(3) .picture {
            opacity: 1; }
          body #wrapper #twirl main .grid > div:nth-child(3) label {
            opacity: 0; }
          body #wrapper #twirl main .grid > div:nth-child(4) .pyramid {
            opacity: 1; }
          body #wrapper #twirl main .grid > div:nth-child(4) .picture {
            opacity: 0; }
          body #wrapper #twirl main .grid > div:nth-child(4) label {
            opacity: 0; }
          body #wrapper #twirl main .grid > div:nth-child(5) .pyramid {
            opacity: 0; }
          body #wrapper #twirl main .grid > div:nth-child(5) .picture {
            opacity: 0; }
          body #wrapper #twirl main .grid > div:nth-child(5) label {
            opacity: 1; }
          body #wrapper #twirl main .grid > div:nth-child(6) .pyramid {
            opacity: 0; }
          body #wrapper #twirl main .grid > div:nth-child(6) .picture {
            opacity: 1; }
          body #wrapper #twirl main .grid > div:nth-child(6) label {
            opacity: 0; }
          body #wrapper #twirl main .grid.grid-4-tiles {
            display: none; }
            body #wrapper #twirl main .grid.grid-4-tiles > div {
              width: 50%;
              height: 50%; }
          body #wrapper #twirl main .grid.grid-6-tiles {
            /*display: none;*/ }
            body #wrapper #twirl main .grid.grid-6-tiles > div {
              width: 33.333%;
              height: 50%; }
          body #wrapper #twirl main .grid.grid-8-tiles {
            display: none; }
            body #wrapper #twirl main .grid.grid-8-tiles > div {
              width: 25%;
              height: 50%; }
          body #wrapper #twirl main .grid.grid-9-tiles {
            display: none; }
            body #wrapper #twirl main .grid.grid-9-tiles > div {
              width: 33.333%;
              height: 33.333%; }
          body #wrapper #twirl main .grid.grid-10-tiles {
            display: none; }
            body #wrapper #twirl main .grid.grid-10-tiles > div {
              width: 20%;
              height: 50%; }
        body #wrapper #twirl main.round-end {
          padding: 15px; }
          body #wrapper #twirl main.round-end h2, body #wrapper #twirl main.round-end p {
            text-align: center;
            margin: 0; }
          body #wrapper #twirl main.round-end p.result {
            font-family: "Futura black", sans-serif;
            font-size: 20px; }
            body #wrapper #twirl main.round-end p.result.result-won {
              color: green; }
          body #wrapper #twirl main.round-end .grid {
            justify-content: center;
            animation-name: tilesCentered;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards; }
            body #wrapper #twirl main.round-end .grid > div {
              animation-name: tilesShrinkToReadable;
              animation-duration: 1s;
              animation-timing-function: ease-in-out;
              animation-fill-mode: forwards; }
              body #wrapper #twirl main.round-end .grid > div .pyramid {
                animation-name: tilesHideToRevealLetter;
                animation-delay: 1s;
                animation-duration: 1s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards; }
              body #wrapper #twirl main.round-end .grid > div .picture {
                animation-name: tilesHideToRevealLetter;
                animation-delay: 1s;
                animation-duration: 1s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards; }
              body #wrapper #twirl main.round-end .grid > div label {
                animation-name: tilesTextShrinkToReadable;
                animation-duration: 1s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards; }
@keyframes tilesCentered {
  100% {
    height: 40%;
    justify-content: center;
    -webkit-justify-content: center; } }
@keyframes tilesHideToRevealLetter {
  0% {
    /*opacity: 1;*/ }
  100% {
    opacity: 0; } }
@keyframes tilesShrinkToReadable {
  to {
    width: 25px;
    height: 25px;
    margin: 0 1px; } }
@keyframes tilesTextShrinkToReadable {
  0% {
    /*display: block !important;
    opacity: 1;*/ }
  77% {
    font-size: 18px;
    /*font-weight: bold;*/
    /*display: block !important;
    opacity: 1;*/
    /*opacity: 0;*/
    opacity: inital; }
  100% {
    font-size: 18px;
    /*font-weight: bold;*/
    /*display: block !important;*/
    opacity: 1; } }
      body #wrapper #twirl #keyboard {
        clear: both; }
        body #wrapper #twirl #keyboard > div {
          display: flex;
          justify-content: space-around;
          height: 44px; }
          body #wrapper #twirl #keyboard > div .key {
            display: flex;
            width: 100%;
            float: left;
            text-align: center;
            transition: opacity 500ms ease-out;
            -webkit-transition: opacity 500ms ease-out;
            -moz-transition: opacity 500ms ease-out;
            -o-transition: opacity 500ms ease-out; }
            body #wrapper #twirl #keyboard > div .key:hover {
              opacity: 0.5; }
            body #wrapper #twirl #keyboard > div .key a {
              display: block;
              width: 100%;
              font-size: 2rem;
              color: black;
              text-decoration: none;
              background-color: #ccc;
              border: 1px solid #ddd; }
              body #wrapper #twirl #keyboard > div .key a:before {
                content: "";
                display: block;
                padding-top: 2px; }
            body #wrapper #twirl #keyboard > div .key .empty {
              display: none; }
    body #wrapper footer {
      overflow: auto;
      clear: both;
      color: #666;
      padding: 10px 0;
      text-align: center;
      /*background-color: black;*/
      /*height: inherit;*/ }
      body #wrapper footer h2 {
        font-size: 1rem;
        margin: 0; }
      body #wrapper footer #level {
        text-align: center; }
        body #wrapper footer #level > div {
          border: 1px solid pink;
          width: 10%;
          font-size: 1.2rem;
          font-family: "Futura black", sans-serif; }
        body #wrapper footer #level #level-from {
          float: left; }
        body #wrapper footer #level #level-to {
          float: right; }
        body #wrapper footer #level ul {
          border: 1px solid yellow;
          list-style: none;
          margin: 10px 0 0 0;
          padding: 0;
          width: 80%;
          display: flex;
          justify-content: center; }
          body #wrapper footer #level ul li {
            width: 4.4px;
            height: 4.4px;
            margin: 1px;
            padding: 0;
            display: flex; }
            body #wrapper footer #level ul li.filled {
              background-color: #333;
              border: 1px solid #333; }
            body #wrapper footer #level ul li.current {
              background-color: #ccc;
              border: 1px solid #ccc; }
            body #wrapper footer #level ul li.empty {
              border: 1px solid #666; }

/*# sourceMappingURL=screen.css.map */
