@font-face {
	font-family: 'Futura book';
	src: url('../fonts/futura/futura-book.woff2') format('woff2'),
	url('../fonts/futura/futura-book.eot?#iefix') format('embedded-opentype'),
	url('../fonts/futura/futura-book.woff') format('woff'),
	url('../fonts/futura/futura-book.ttf') format('truetype'),
	url('../fonts/futura/futura-book.svg#FuturaBT-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Futura black';
	src: url('../fonts/futura/Futura Extra Black font.woff2') format('woff2'),
	url('../fonts/futura/Futura Extra Black font.eot?#iefix') format('embedded-opentype'),
	url('../fonts/futura/Futura Extra Black font.woff') format('woff'),
	url('../fonts/futura/Futura Extra Black font.ttf') format('truetype'),
	url('../fonts/futura/Futura Extra Black font.svg#FuturaBT-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Futura light';
	src: url('../fonts/futura/futura light bt.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
html, body {
	font-size: 16px;
}

html, body {
	height: 100%;
}

body {
	font-family: 'Futura light' !important;
	margin: 0;
	background: #eeeeee;
	background: -moz-linear-gradient(left,  #555 0%, #222 50%, #555 100%); 
	background: -webkit-linear-gradient(left,  #555 0%,#222 50%,#555 100%); 
	background: linear-gradient(to right,  #555 0%,#222 50%,#555 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=1 ); 

	b {
		font-family: "Futura black", sans-serif;
	}

	#wrapper {
		position: relative;
		max-width: 80vh;
		height: 100%;
		margin: 0 auto;
		background-color: black;

		.tooltip {
			position: absolute;
			z-index: 9999;
			background-color: white;
			box-shadow: 0 0 100px #000;
			padding: 10px;
			border-radius: 10px;
			&.tooltip-appendix-top:before {
				content:"";
				display: block;
				position: absolute;
				z-index: -1;
				background-color: white;
				transform: rotate(45deg);
				width: 20px;
				height: 20px;
				margin:auto 50%;
				left: -10px;
				top: -10px;
			}
			&.tooltip-appendix-bottom:after {
				content:"";
				display: block;
				position: absolute;
				z-index: -1;
				background-color: white;
				transform: rotate(45deg);
				width: 20px;
				height: 20px;
				margin:auto 50%;
				left: -10px;
			}
			&#tooltip-keyboard-instructions {
				top: 50px;
			}
		}
		
		#menu {
			display: none;
			position: absolute;
			z-index: 999;
			width: 100%;
			height: 100%;
			background-color: black;
			color: white;
			header {
				nav {
					width: 10%;
					float: right;
					text-align: right;
					a {
						display: block;
						img {
							width: 24px;
							height: 24px;
							padding:10px 5px 0 0;
						}
					}
				}
			}
			main {
				padding: 0 5px;
			}
		}

		header {
			min-height: 44px;
			background-color: black;
			h1 {
				width: 80%;
				float: left;
				text-align: center;
				font-weight: normal;
				font-size: 1rem;
				color:white;
				margin: 0;
				padding-top: 15px;
			}
			nav {
				width: 10%;
				a {
					display: block;
					img {
						width: 24px;
						height: 24px;

					}
				}
			}
			nav:nth-child(1) {
				float: left;
				a {
					img {
						padding:10px 0 0 5px;
					}
				}
			}
			nav:nth-child(3) {
				float: right;
				text-align: right;
				a {
					img {
						padding:10px 5px 0 0;
					}
				}
			}
		}

		#twirl {
			background-image: url('../images/whirl_tall_bright.gif');
			background-size: cover;
			/*****************************************************************************************************/
			/*****************************************************************************************************/
			/*****************************************************************************************************/
			main {
				.main-content {
					display: flex;
					/*align-content: center;*/
					position: relative;
					flex-direction: column;
					justify-content: center;
					height: 100%;
					clear: both;
					overflow: hidden;
					h2, p.result {
						position: absolute;
						width: 100%;
						/*top:0;*/
						text-align: center;
						margin: 0;
						/*overflow-y:hidden;*/
						height:0;
						opacity: 0;
						/*transition: width 2s, height 2s, opacity 0.5s;*/
						transition-property: height, opacity;
						transition-duration: 2s;
						/*transition-delay: 0;*/
					}
					h2 {
						top:30px;
					}

					p.result{
						bottom:30px;
						font-family: "Futura black", sans-serif;
						font-size: 20px;
						&.result-won{
							color: green;
						}
					}


					.grid {
						height: 100%;
						clear: both;
						overflow: hidden;
						position: relative;
						display: flex;
						display: -webkit-flex;
						flex-flow: row wrap;
						align-content:stretch;
						& .tile {
							position: relative;
							& > * {
								position: absolute;
							}
							.pyramid {
								width: 100%;
								height: 100%;
								z-index: 999;
							}
							.picture {
								width: 100%;
								height: 100%;
								background-position: center center;
								background-size: cover;
								z-index: 888;
							}
							label {
								display: block;
								height: 100%;
								font-size: 3.4rem;
								text-align: center;
								width: 100%;
								z-index: 777;
								&:before {
									content:"";
									display: block;
									height: 10%;
								}
							}
						}
						& .tile:nth-child(1){
							.pyramid {opacity:1;}
							.picture {opacity:0;}
							label {opacity:0;}
						}
						& .tile:nth-child(2){
							.pyramid {opacity:0;}
							.picture {opacity:0;}
							label {opacity:1;}
						}
						& .tile:nth-child(3){
							.pyramid {opacity:0;}
							.picture {opacity:1;}
							label {opacity:0;}
						}
						& .tile:nth-child(4){
							.pyramid {opacity:1;}
							.picture {opacity:0;}
							label {opacity:0;}
						}
						& .tile:nth-child(5){
							.pyramid {opacity:0;}
							.picture {opacity:0;}
							label {opacity:1;}
						}
						& .tile:nth-child(6){
							.pyramid {opacity:0;}
							.picture {opacity:1;}
							label {opacity:0;}
						}

						&.grid-4-tiles {
							display: none;
							& .tile {width: 50%;height: 50%;}
						}
						&.grid-6-tiles {
							/*display: none;*/
							& .tile {width: 33.333%;height: 50%;}
						}
						&.grid-8-tiles {
							display: none;
							& .tile {width: 25%;height: 50%;}
						}
						&.grid-9-tiles {
							display: none;
							& .tile {width: 33.333%;height: 33.333%;}
						}
						&.grid-10-tiles {
							display: none;
							& .tile {width: 20%;height: 50%;}
						}
					}
					/*****************************************************************************************************/
				}
				
			}
			/*****************************************************************************************************/
			/*****************************************************************************************************/
			/*****************************************************************************************************/

			#keyboard {
				opacity: 1; 
				visibility: visible; 
				transition: visibility 1s linear, opacity 1s linear; 
				clear: both;
				& > div {
					display: flex;
					justify-content:space-around;
					height: 44px;
					.key {
						display: flex;
						width: 100%;
						float: left;
						text-align: center;

						transition : opacity 500ms ease-out; 
						-webkit-transition : opacity 500ms ease-out; 
						-moz-transition : opacity 500ms ease-out;
						-o-transition : opacity 500ms ease-out;  


						&:hover {
							opacity: 0.5;
						}
						a {
							display: block;
							width: 100%;
							font-size: 2rem;
							color:black;
							text-decoration: none;
							background-color: #ccc;
							border: 1px solid #ddd;
							&:before{
								content:"";
								display: block;
								padding-top:2px;
							}
						}
						.empty {
							display: none;
						}
					}
				}
			}

		}

		footer {
			overflow: auto;
			clear: both;
			color: #666;
			padding: 10px 0;
			text-align: center;
			/*background-color: black;*/
			/*height: inherit;*/
			h2 {
				font-size: 1rem;
				margin: 0;
			}
			#level {
				/*text-align: center;*/
				display: flex;
				justify-content: space-around;
				align-items: center;
				& > div {
					/*border: 1px solid pink;*/
					/*width: 10%;*/
					font-size: 1.2rem;
					font-family: "Futura black", sans-serif;
				}
				#level-from {
					/*float: left;*/

				}
				#level-to {
					/*float: right;*/
				}
				ul {
					/*border: 1px solid yellow;*/
					list-style: none;
					margin: 0;
					padding: 0;
					/*width: 80%;*/
					display: flex;
					justify-content:center;
					li {
						width: 4.4px;
						height: 4.4px;
						margin: 1px;
						padding: 0;
						display: flex;							
						&.filled {
							background-color: #333;
							border: 1px solid #333;
						}
						&.current {
							background-color: #ccc;
							border: 1px solid #ccc;
						}
						&.empty {
							border: 1px solid #666;
						}
					}
				}

			}
		}
	}
	/*& is body*/
	&.round-end {
		.main-content {
			/*padding: 15px;*/
			/*border:10px dotted red;*/
			h2, p.result{
				/*border:10px dotted yellow;*/
				opacity: 1 !important;
				height:initial !important;
			}
			.grid {

				justify-content:center;

				animation-name: tilesCentered;
				animation-duration: 1s;
				animation-timing-function: ease-in-out;
				animation-fill-mode: forwards;

				& .tile {

					animation-name: tilesShrinkToReadable;
					animation-duration: 1s;
					animation-timing-function: ease-in-out;
					animation-fill-mode: forwards;

					.pyramid {
						animation-name: tilesHideToRevealLetter;
						animation-delay: 1s;
						animation-duration: 1s;
						animation-timing-function: ease-in-out;
						animation-fill-mode: forwards;
					}
					.picture {
						animation-name: tilesHideToRevealLetter;
						animation-delay: 1s;
						animation-duration: 1s;
						animation-timing-function: ease-in-out;
						animation-fill-mode: forwards;
					}
					label {
						animation-name: tilesTextShrinkToReadable;
						animation-duration: 1s;
						animation-timing-function: ease-in-out;
						animation-fill-mode: forwards;
					}
				}
			}
			@keyframes tilesCentered {
				0% {

				}

				100% {
					height: 25px;
				}
			}
			@keyframes tilesHideToRevealLetter {
				0% {
					/*opacity: 1;*/
				}
				100% {
					opacity: 0;
				}
			}
			@keyframes tilesShrinkToReadable {
				from {

				}
				to {
					width: 25px;
					height: 25px;
					margin: 0 1px;
				}
			}
			@keyframes tilesTextShrinkToReadable {
				0% {
							/*display: block !important;
							opacity: 1;*/
						}
						77% {
							font-size: 18px;
							/*font-weight: bold;*/
						/*display: block !important;
						opacity: 1;*/
						/*opacity: 0;*/
						opacity: inital;
					}
					100% {
						font-size: 18px;
						/*font-weight: bold;*/
						/*display: block !important;*/
						opacity: 1;
					}
				}
				@keyframes contentAroundGridShow {
					0% {
						
					}
					50%{
						display: block;
					}
					100% {
						display: block;
					}
				}

			}
			#keyboard {
				/*border:10px solid green;*/
				visibility: hidden !important; 
				opacity: 0 !important;
			}
		}




	}









