&>div:nth-child(1){
					.pyramid {opacity:1;}
					.picture {opacity:0;}
					label {opacity:0;}
				}
				&>div:nth-child(2){
					.pyramid {opacity:0;}
					.picture {opacity:0;}
					label {opacity:1;}
				}
				&>div:nth-child(3){
					.pyramid {opacity:0;}
					.picture {opacity:1;}
					label {opacity:0;}
				}
				&>div:nth-child(4){
					.pyramid {opacity:1;}
					.picture {opacity:0;}
					label {opacity:0;}
				}
				&>div:nth-child(5){
					.pyramid {opacity:0;}
					.picture {opacity:0;}
					label {opacity:1;}
				}
				&>div:nth-child(6){
					.pyramid {opacity:0;}
					.picture {opacity:1;}
					label {opacity:0;}
				}